
.security-status {
	box-sizing: border-box;
	margin: 0 5px;
	padding: 5px 5px;
	border-radius: 10px;
	font-size: 20px;
	width: 36px;
	height: 36px;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.security-status.small {
	width: 30px;
	height: 30px;
}

.security-status.x-small {
	width: 24px;
	height: 24px;
}

.security-popover-icon {
	font-size: 50px;
	margin: 0 0 10px;
}

popover-dialog .popover-container {
	background-color: #fff !important;
	color: #000 !important;
}

.selector-small {
	width: 10px;
    height: 10px;
    margin-right: 4px;
}

.button-content {
	display: flex;
	align-items: center;
	gap: 8px;
}

.icon-small {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.button-fixed-width {
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	gap: 4px;
	vertical-align: middle;
  }