
wallet-selector p {
	color: #545454;
	margin: 10px 0;
}

wallet-selector small {
	color: #545454;
}

wallet-selector h3 {
	margin: 5px 0;
}

.wallet-list-heading {
	color: #545454;
	margin-top: 15px !important;
	margin-bottom: 10px;
}

.wallets-list {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	margin-bottom: 5px;
}

.wallet-btn {
	flex: calc(33% - 3px);
	display: flex;
	height: unset !important;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: column;
	padding: 10px 0;
	gap: 6px;
}

@media (max-width: 500px) {
	.wallet-btn {
		flex: calc(50% - 6px) !important;
		max-width: calc(50% - 3px);
	}
}

.wallet-name {
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}

.wallet-icon {
	display: flex;
	align-items: center;
}

.wallet-icon svg, .wallet-icon img {
	height: 40px;
	width: auto;
}
