
header {
	display: none;
}

.token-viewer {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

.info-container h1 {
	font-weight: bold;
	font-size: 18px;
	color: #000;
	padding: 0;
	margin: 20px 0;
}

.image-container {
	min-height: 100px;
}

.token-viewer img {
	max-width: 100%;
}

.token-viewer .info-container {
	margin: 10px;
}

.attribute-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	grid-gap: 10px;
}

.attribute-item {
	border: 2px solid #001AFF;
	border-radius: 5px;
	min-height: 80px;
	padding: 5px;
}

.attribute-item h5 {
	margin: 2px 0 5px;
}

.attribute-item span {
	font-size: 14px;
}

.actions {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.actions button {
	margin: 5px 0;
}
