
header {
	display: none;
}

body {
	background-color: transparent !important;
}

* {
	font-family: 'Space Grotesk', sans-serif;
	color: #fff;
}

.tlink-header {
	height: 34px;
	margin: 5px 15px 0;
	display: flex;
	align-items: center;
}

.tlink-header a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.tlink-header .text {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}

.tlink-header .header-icon {
	height: 20px !important;
	padding-left: 0;
}

.tlink-header-right {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 10px;
}

.tlink-viewer {
	border: 1px solid rgb(29, 155, 240);
	background-color: #262a2d;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-bottom: 15px;
}

.details-container {
	flex-grow: 1;
}

.request-message {
	text-align: center;
}
