
:host .popover-container {
	max-width: 500px;
	max-height: 700px;
}

.card-container {
	position: relative;
	max-width: 500px;
	border-radius: 4px;
	max-height: 700px;
	display: flex;
	flex-direction: column;
	height: calc(100dvh - 80px);
	overflow: hidden;
}

.view-loader {
	z-index: 50;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(87, 87, 87, 0.50)
}

.iframe-wrapper {
	position: relative;
	flex-grow: 1;
}

.tokenscript-frame {
	background: #fff;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
}

.action-bar {
	height: 35px;
	margin-top: 4px;
}

.action-btn {
	width: 100%;
	height: 100%;
}
