
viewer-popover {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	top: 0;
	left: 0;
	display: none;
}

viewer-popover.open {
	display: block;
}

viewer-popover .view-heading {
	flex-wrap: nowrap;
}

viewer-popover .view-toolbar-buttons {
	flex-wrap: nowrap;
}

viewer-popover .view-heading, viewer-popover .view-toolbar-buttons {
	display: flex;
	padding: 10px 20px;
	align-items: center;
}

viewer-popover .view-heading > h3 {
	margin: 0 0 0 10px;
	flex-shrink: 0;
}

viewer-popover .view-heading > button {
	min-width: 30px;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 8px;
	background: none;
}
