


.ts-tokens-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	margin: 0 auto;
	position: relative;
}

.ts-tokens-grid .no-tokens-message {
	display: flex;
	justify-content: center;
	color: white;
	mix-blend-mode: difference;
}

.ts-tokens-grid .no-tokens-message, .ts-tokens-grid loading-spinner {
	flex-grow: 1;
	text-align: center;
}

.bg-blur {
	/*backdrop-filter: blur(3px);*/
	height: 100%;
}

.tokens-heading {
	margin: 10px 25px 0;
}

@media (max-width: 768px) and (min-width: 571px) {
	.ts-tokens-grid {
		justify-content: space-evenly;
	}
	.tokens-grid-item {
		width: 250px !important;;
	}
}

@media (max-width: 570px) {
	.ts-tokens-grid {
		justify-content: center;
	}
	.tokens-grid-item {
		width: 100% !important;
	}
}
