
.token-security-status {
	box-sizing: border-box;
	border-radius: 25px;
	font-size: 16px;
	width: 25px;
	height: 25px;
	text-align: center;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.security-popover-icon {
	font-size: 50px;
	margin: 0 0 10px;
}
